# Ignore everything in the root directory
*
# Except:
!.gitignore
!README.md
!LICENSE
!assets/*
!wp-content/
wp-content/*
!wp-content/plugins/
wp-content/plugins/*

# # Keep these plugins
!wp-content/plugins/toggle/
!wp-content/plugins/toggle-count/
!wp-content/plugins/test/
